/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
header {
  background: #0a1f44;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 50px;
}
.logo span {
  color: #7e69f8;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover,
nav a.active {
  color: #7e69f8;
}

/* Intro Section */
.intro {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.intro h2 {
  font-size: 1.8rem;
  color: #002244;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #444;
}

.types h3 {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #003366;
}

.types ul {
  margin-top: 20px;
  padding-left: 30px;
  color: #333;
}

.types li {
  margin-bottom: 8px;
}

/* University Cards */
.universities {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.university-card {
  background-color: #f0f4f8;
  margin: auto;
  border-left: 6px solid #1f3a68;
  border-radius: 8px;
  width: 70%;
  box-shadow: 5px 10px 15px #444;
  padding-bottom: 45px;
}

.university-card h2 {
  font-size: 2rem;
  color: #002244;
  margin-bottom: 8px;
  margin-top: 15px;
  padding-left:20px ;
}

.university-card:hover{
  transform: scale(1.05);
  transition: 1s;
}

.country {
  font-size: 1rem;
  color: #666;
  margin-left: 10px;
}

.text {
  font-style: italic;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
  padding: 20px;
}
.text2 {
  padding: 20px;
  font-size: 1.3rem;
}
.Oxford img {
  border-radius: 20px;
  padding-top: 10px;
  float: right;
  width: 30%;
  flex-direction: column;
  
}
.Harvard img {
  border-radius: 20px;
  padding-top: 10px;
  float: right;
  width: 30%;
  flex-direction: column;
}
.Cambridge img {
  border-radius: 20px;
  padding-top: 10px;
  float: right;
  width: 30%;
  flex-direction: column;
}
.Stanford img {
  border-radius: 20px;
  padding-top: 10px;
  float: right;
  width: 30%;
  flex-direction: column;
}
.MIT img {
  border-radius: 20px;
  padding-top: 10px;
  float: right;
  width: 30%;
  flex-direction: column;
}

/* Footer */
footer {
  margin-top: 20pxs;
  text-align: center;
  padding: 20px;
  background: #0a1f44;
  color: white;
  font-size: 0.9rem;
}